<div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i> {{ data.email }}</li>
            <li><i class="fa fa-map"></i> {{ data.location }}</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links">
            {% if "Facebook" in platform_list %}
              <li><a href="{{ platform_list.Facebook }}"><i class="fab fa-facebook"></i></a></li>
            {% endif %}

            {% if "Twitter" in platform_list %}
              <li><a href="{{ platform_list.Twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
            {% endif %}

            {% if "LinkedIn" in platform_list %}
              <li><a href="{{ platform_list.LinkedIn }}"><i class="fab fa-linkedin"></i></a></li>
            {% endif %}

            {% if "Instagram" in platform_list %}
              <li><a href="{{ platform_list.Instagram }}"><i class="fab fa-instagram"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
</div>