  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url "home_page" %}" class="logo">
                        <h1>{{ data.logo }}</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="{% url "home_page" %}" {% if is_home_page %}class="active"{% endif %} >Home</a></li>
                      <li><a href="{% url "properties" %}">Properties</a></li>
                      {% comment %} <li><a href="{% url "property_details" %}">Property Details</a></li> {% endcomment %}
                      <li><a href="{% url "contact_us" %}">Contact Us</a></li>
                      <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->